* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

img {
  object-fit: cover;
  width: 100%;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

main {
  height: fit-content;
}
